# -*- coding: utf-8 -*-

from __future__ import unicode_literals

import datetime

token = "B0t'5-t0k3n-from-bo7f4ther-h3rE"
trigger_regex = "(?imu)(name trigger regex)"
name = "Bot's Name"
farewell = "Farewell!"

covid_cache_time = datetime.timedelta(minutes=1)

joke_useragent = "some ID for the API"
joke_throttling_time = datetime.timedelta(seconds=1)

auth_permissions = {'joke' : (1337, 420, 69,), # user IDs or chat IDs
                    'covid': (420, 69,)} 
owner_ids = (2128506,)
